@import './variables';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: $background-light;
}

// page transition
.default-enter-active,
.default-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.default-enter,
.default-leave-to {
  opacity: 0;
}
